body {
  font-family: Arial, sans-serif;
  background-color: #a2d1f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #333;
}

h1 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #2c3e50;
}

.file-input-container {
  position: relative;
  width: 280px;
  height: 40px;
  margin-bottom: 15px;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.custom-file-label{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    user-select: none;
    transition: background 0.3s ease;
    z-index: 1;
}

.file-input-container:hover .custom-file-label{
    background: #2980b9;
}

.file-name{
    font-size: 14px;
    font-style: italic;
    color: #555;
    min-height: 20px;
    max-width: 280px;
    text-align: center;
    word-break: break-word;
    margin-bottom: 20px;
}

button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}


button:hover{
    background-color: #46ac70;
}

.status {
    margin-top: 15px;
    font-size: 18px;
    color: #34495e;
    min-height: 20px;
    max-height: 280px;
    text-align: center;
    word-break: break-word;
}

.status.success{
    color: #27ae60;
}

.status.error{
    color: #e74c3c;
}

.container {
  display: flex;
  justify-content: center;
}
